<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <context:component-scan base-package="io.bluerain.globr.web"/>
    <!-- Swagger providers -->
    <bean id="apiDeclarationProvider"
          class="com.wordnik.swagger.jaxrs.listing.ApiDeclarationProvider"/>
    <bean id="resourceListingProvider"
          class="com.wordnik.swagger.jaxrs.listing.ResourceListingProvider"/>

    <!-- Swagger API listing resource -->
    <bean id="swaggerResourceJSON"
          class="com.wordnik.swagger.jaxrs.listing.ApiListingResourceJSON"/>

    <bean class="io.bluerain.globr.web.interceptor.BaseExceptionMapper"/>
    <bean class="io.bluerain.globr.web.extend.JacksonJsonProvider"></bean>

    <!--resources-->
    <bean class="io.bluerain.globr.web.rest.TestResource"/>
    <bean class="io.bluerain.globr.web.rest.SearchResource"/>
    <bean class="io.bluerain.globr.web.rest.ScholarSearchResource"/>

    <!--加载常量配置文件-->
    <bean id="propConfig" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:conf.properties"/>
    </bean>

    <!-- this scans the classes for resources -->
    <bean id="swaggerConfig" class="com.wordnik.swagger.jaxrs.config.BeanConfig">
        <property name="basePath" value="${baseAppUrl}"/>
        <property name="resourcePackage" value="io.bluerain.globr.web.rest"/>
        <property name="version" value="1.0.0"/>
        <property name="title" value="GloBr Web Service-UI-Docs-Testing"/>
        <property name="description" value="This is a api extension."/>
        <property name="contact" value="wscl124914@gmail.com"/>
        <property name="license" value="Apache 2.0 License"/>
        <property name="licenseUrl"
                  value="http://www.apache.org/licenses/LICENSE-2.0.html"/>
        <property name="scan" value="true"/>
    </bean>

</beans>
